<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="	
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
">


	<bean id="testBean" class="java.lang.String" >
		<constructor-arg type="java.lang.String" value="testBean!"/>
	</bean>
	
<!--	<util:map id="configuration">-->
<!--    		<entry key="url" value=""/>-->
<!--    		<entry key="domain" value=""/>-->
<!--    		<entry key="domainsuffix" value=""/>-->
<!--    		<entry key="bindUser" value=""/>-->
<!--    		<entry key="bindPassword" value=""/>-->
<!--    		<entry key="userOuPath" value=""/>-->
<!--    		<entry key="accountIdentifier" value=""/>-->
<!--    		<entry key="groupOuPath" value=""/>-->
<!--    		<entry key="authorizingRole" value=""/>-->
<!--    </util:map>-->

    <bean id="jirbServer" class="com.vetstreet.embedded.jirb.SshServerFactory">
    	<property name="port" value="22222"/>
<!--    	<property name="configurationMap" ref="configuration"/>-->
    </bean>


</beans>
